.DS_Store
Thumbs.db
config.php
/vendor/
/node_modules/
/public/build/
/dist/
composer.lock
composer.phar
package-lock.json
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
*.suo
*.user
*.bak